@font-face {
  font-family: 'Fractura Inl';
  src: local('☺︎'), url("./fractura/FRAN_INL.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Inl";
    src: url("./fractura/FRAN_INL.otf") format("opentype");
  }
}


@font-face {
  font-family: 'Fractura Lig';
  src: local('☺︎'), url("./fractura/FRAN_LIG.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Lig";
    src: url("./fractura/FRAN_LIG.otf") format("opentype");
  }
}


@font-face {
  font-family: 'Fractura Dur';
  src: local('☺︎'), url("./fractura/FRAN_DUR.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Dur";
    src: url("./fractura/FRAN_DUR.otf") format("opentype");
  }
}


@font-face {
  font-family: 'Fractura Reg';
  src: local('☺︎'), url("./fractura/FRAN_REG.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Reg";
    src: url("./fractura/FRAN_REG.otf") format("opentype");
  }
}


@font-face {
  font-family: 'Fractura Dui';
  src: local('☺︎'), url("./fractura/FRAN_DUI.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Dui";
    src: url("./fractura/FRAN_DUI.otf") format("opentype");
  }
}


@font-face {
  font-family: 'Fractura Bol';
  src: local('☺︎'), url("./fractura/FRAN_BOL.otf") format("opentype");
}
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Fractura Bol";
    src: url("./fractura/FRAN_BOL.otf") format("opentype");
  }
}