// TODO: change file name to cameCase
// 100 ------------------------------------------------------------------------
@font-face {
    font-family: 'MuseoSlabRounded-100';
    src: url('../fonts/museo-slab/museo_slab_rnd_100_reg_2172.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-100Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_100_ita_2172.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


// 300 ------------------------------------------------------------------------
@font-face {
    font-family: 'MuseoSlabRounded-300';
    src: url('../fonts/museo-slab/museo_slab_rnd_300_reg_2172.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-300Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_300_ita_2172.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


// 500 ------------------------------------------------------------------------
@font-face {
  font-family: 'MuseoSlabRounded-500';
  src: url('../fonts/museo-slab/museo_slab_rnd_500_reg_2172.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-500Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_500_ita_2172.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


// 700 ------------------------------------------------------------------------
@font-face {
  font-family: 'MuseoSlabRounded-700';
  src: url('../fonts/museo-slab/museo_slab_rnd_700_reg_2172.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-700Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_700_ita_2172.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


// 900 ------------------------------------------------------------------------
@font-face {
  font-family: 'MuseoSlabRounded-900';
  src: url('../fonts/museo-slab/museo_slab_rnd_900_reg_2172.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-900Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_900_ita_2172.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


// 1000 -----------------------------------------------------------------------
@font-face {
  font-family: 'MuseoSlabRounded-1000';
  src: url('../fonts/museo-slab/museo_slab_rnd_1000_reg_2172.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSlabRounded-1000Italic';
  src: url('../fonts/museo-slab/museo_slab_rnd_1000_ita_2172.otf') format('opentype');
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}