html {
  font-size: 10px;
  //font-size: calc((100vh + 100vh * 1.5) / 100);
  line-height: 1.0rem;
}
body {
  padding: 0;
  margin: 0;
  font: 400 1.5rem/1.9rem 'MuseoSlabRounded-300',serif;
  letter-spacing: .02rem;
  color: #fff;
  /*background: #2b363b;*/
  touch-action: none;
  /*transform: scale(.9);*/
  transform-origin: top left;
  overscroll-behavior: none;
}

* {
  touch-action: manipulation;
  overscroll-behavior: none;
}

//// iPhone 10 Landscape - 812px
//// iPhone 11 Pro Max Landscape - 896px
//@media (min-width: 813px) and (max-width: 896px) {
//  html {
//    font-size: 11px;
//  }
//}

// colors
